{% extends "layout.html.twig" %}

{% if user is not defined %}
    {% set user = {userName: '', roles: []} %}
{% endif %}

{% block title %} {{user.userName}} {% endblock %}

{% block content %}
    <div class="container">
        <form action="/user/save?user-name={{ user.userName }}" method="post">
            <div class="row">
                <div class="col-md-4">
                    <h1>{{ user.userName }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>Задать пароль</strong>
                </div>
                <div class="col-md-4 form-group">
                    <input type="password" name="raw-password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>Роль</strong>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="user-role">
                        {% for group, groupTitle in usersGroup %}
                            <option
                                {% if group in user.roles %} selected="selected" {% endif %}
                                value="{{ group }}">{{ groupTitle }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-md-2">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        Сохранить
                    </button>
                </div>
                <div class="col-md-2">
                    {% if user.isBanned %}
                        <a class="btn btn-primary" href="/user/ban?{{ {'user-name': user.userName, 'is-banned': 0}|url_encode() }}">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            Разблокировать
                        </a>
                    {% else %}
                        <a class="btn btn-warning" href="/user/ban?{{ {'user-name': user.userName, 'is-banned': 1}|url_encode() }}">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            Заблокировать
                        </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}