{% extends "layout.html.twig" %}
{% block title %}
    {{ hardware.name }}
{% endblock %}
{% block content %}
    <div class="container">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Название</th>
                <td colspan="2">{{hardware.name}}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ hardware.address }}</td>
            </tr>
            {% for param in hardware.params %}
                <tr>
                    <th>{{param.name}}</th>

                    <td>
                        {% if is_granted(param.role) %}
                            {{ param.value }}
                        {% else %}
                            ******
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="row">
                <div class="col-md-2">
                    <a href="/hardware/edit?id={{hardware.id}}" class="btn btn-primary">Редактировать</a>
                </div>
                <div class="col-md-offset-8 col-md-2 text-right">
                    <a href="/hardware/delete?id={{hardware.id}}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}